h1 {
	font-family: nexa;
	text-align: center;
	font-size: 250%;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 1500;
}

body {
	/*background-color: */
}

#directions {
	font-family: sans-serif; 
	text-align: center;
	font-weight: bold;
	font-style: italics;
	font-size: 80%;
}

.right {
	color: green;
	font-weight: bold;
	opacity: 0.0;
}

.wrong {
	color: red;
	font-weight: bold;
	opacity: 0.0;
}

.btn {
	background-color: #e7e7e7;
	color: black;
	padding: 5px 11px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size: 12px;
	margin: 3px 1.5px;
	cursor: pointer;
}